* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

table.costs {
    border-collapse: collapse;
    color: gainsboro;
}
  
table.costs td, th {
    padding: .7rem;
    border-bottom: 1px solid gainsboro;
}

table.costs th {
    background-color: salmon;
    color: black;
}

div.costsWrapper {
    width: fit-content; 
}

div.costsTableWrapper {
    max-height: 70vh;
    overflow-y: scroll;
}

div.summaryRow {
    padding: .7rem;
    background-color: gainsboro;
    font-size: 1.2rem;
    color: black;
}

span.totalCost {
    font-weight: bold;
    color: red;
}
  